<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link href="./index.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="lib/codemirror.css">
  <link rel="stylesheet" href="lib/mytheme.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <a class="topright" href="https://github.com/smallwins/spacetime">
    github
  </a>
  <div class="nice big">
    Yeah, 🙌
  </div>
  <div class="nice" v-cloak>
    the world's really big
  </div>
  <div id="map" style="width:100%; text-align:center;">
  </div>
  <div class="nice" style="position:relative; top:-30px;">
    but this library, it's really small ✨
  </div>
  <div id="today" style="text-align:center; position:relative; top:-50px" v-cloak>
    <div class="nice" style="font-size:22px; color:#546879">
      {{timezone}}:
    </div>

    <div id="leftBox" style="display:inline-block; position:relative; width:150px; top:-25px; font-size:15px; text-align:left;" class="nice">
    </div>

    <div id="graph" class="nice" style="position:relative; top:-10px; text-align:left; display:inline-block; height:90px; margin-top:5px; width:600px;">
      <div id="nowThing"  v-bind:style="{ left:(scale(s.progress().day)-100)+'px' }" style="position:relative; display:inline-block; font-size:20px; text-align:center; max-width:200px; min-width:200px; color:#838d97;">
        {{s.format('month')+' '+s.format('ordinal')}}
        <div>
          {{s.time()}}
        </div>
        <div>
        	▼
        </div>
      </div>
      <div id="dayline" style="position:relative; height:3px;">
        <div style="position:absolute; width:25%; left:0%; top:0px; height:3px; background-color:#4682b4;"></div>
        <div style="position:absolute; width:63%; left:25%; top:0px; height:3px; background-color:#dbb2c1;"></div>
        <div style="position:absolute; width:12%; left:88%; top:0px; height:3px; background-color:#4682b4;" ></div>
      </div>
      <div style="position:relative; width:100%; height:2px; background-color:#af6161;"></div>
      <div style="position:relative; height:15px; font-size:9px; text-align:left;">
        <div style="position:absolute; left:23%;">6am</div>
        <div style="position:absolute; left:48%;">noon</div>
        <div style="position:absolute; left:73%;">6pm</div>
        <div style="position:absolute; left:86%;">10pm</div>
      </div>
      <div id="yearline" style="position:relative; top:15px; height:3px;" >
        <span  v-for="m,i in months">
          <span v-bind:style="{backgroundColor:m, left:50*i+'px'}" style="position:absolute; border-radius:1px; width:50px; top:0px; height:3px; opacity:0.8;"></span>
        </span>
        <div class="month" style="left:0px;">january</div>
        <div class="month" style="left:100px;">march</div>
        <div class="month" style="left:200px;">may</div>
        <div class="month" style="left:300px;">july</div>
        <div class="month" style="left:400px;">september</div>
        <div class="month" style="left:500px;">november</div>
        <div id="nowYear"  v-bind:style="{ left:(scale(s.progress().year)-7)+'px' }" class="nowYear" v-bind:title="s.format('nice')">&nbsp;</div>
       </div>
     </div>

     <div id="rightBox" style="position:relative; display:inline-block; width:150px; top:30px; margin-left:50px; font-size:14px; text-align:left;">
       <div class="fact">{{s.season()}}</div>
       <div v-bind:class="[s.isDST() ? 'yes' : 'no']" class="fact">dst</div>
       <div v-bind:class="{ no: !s.leapYear() }" class="fact">leap-year</div>
       <div class="fact">Q{{s.quarter()}}</div>
       <div class="fact">{{s.dayTime()}}</div>
     </div>

    <div class="table" style="margin-top:40px; text-align:center;">

      <span class="tr nice control" v-for="c in controls">
        <div style="position:relative; text-align:center;">
          <span class="minus" v-on:click="s.subtract(1, c.title)">﹣</span>
          <span style="display:inline-block; width:40px; min-width:40px; max-width:40px;">{{c.render()}}</span>
          <span class="plus" v-on:click="s.add(1, c.title)">+</span>
        </div>
        <div style="position:relative; top:-5px; color:silver; display:inline; border-bottom:1px solid silver; padding-bottom:6px;">
          <span class="skip" title="start-of" v-on:click="s.startOf(c.title)">⇤</span>
          <span>{{c.title}}</span>
          <span class="skip" title="end-of" v-on:click="s.endOf(c.title)">⇥</span>
        </div>
      </span>

    </div>
  </div>


  <div class="nice big middle" style="margin-top:0px; padding-top:0px;">
    — <b>spacetime</b> date-utility —
    <div class="table">
      <span class="list tr">
        <div>
          <b class="boom">💥</b> - local model of remote TZ
        </div>
        <div>
          <b class="boom">💥</b> - DST, leap-year, hemisphere!
        </div>
        <div>
          <b class="boom">💥</b> -
          moment-like<span style="color:pink;">💙</span> API
        </div>
        <div>
          <b class="boom">💥</b> - quarter, season, and week-orientation
        </div>
      </span>
      <span class="tr nice">
        <div style="color:#8cc5df; margin-top:20px;">
          <span class="number">33</span>
          <span class="">kb</span>
        </div>
        <div style="font-size:18px;">that's more like it</div>
      </span>
    </div>
  </div>
  <div class="nice big middle">
    <span class="epoch">npm install spacetime</span>
      <div style="font-size:18px;">or</div>
    <span class="epoch">&lt;script src='https://unpkg.com/spacetime'&gt;&lt;/script&gt;</span>
  </div>
  <div class="nice big middle">
    <span style="color:#dbb2c1;">👹</span> spacetime does some ugly things.
  </div>
  <div class="nice big middle">
    it can sometimes get confused. <span style="color:#8cc5df;">🌌</span>
  </div>
  <div class="nice byline">
    but by making <a class="link" href="https://github.com/smallwins/spacetime/wiki#limitations">realistic compromises</a> spacetime considerably under-weighs most date libraries.<br/>
    It lets you have a <i>mostly-great</i> time, without thinking about awful things.
  </div>
  <div class="codemirror" id="html"></div>
  <div class="codemirror" id="node"></div>

    <div style="margin-top:25px; text-align:center; color:silver; text-align:left; margin-left:15%;">
      now go crazy:<br/>
      <div class="codemirror" id="showoff"></div>
    </div>

  <div id="explain" v-cloak>
    <div class="nice big" style="margin:20px;">how the?</div>
    <div style="margin-left:10%;">
       <div class="nice explain">
        it is currently <span class="epoch">{{epoch}}</span> everywhere (even in Australia).
      </div>
      <div class="table">
        <span class="tr nice">
          <b>[Fake-Paris]</b><br/>
          time
        </span>
        <span class="tr nice math">
          <b>=</b>
        </span>
        <span class="tr nice">
          Epoch time<br/>
          (<b>{{epoch}}</b>)
        </span>
        <span class="tr nice math">
          <b>﹣</b>
        </span>
        <span class="tr nice">
          your computer's offset<br/>
          (<b>{{offset}}</b> mins)
        </span>
        <span class="tr nice math">
          <b>+</b>
        </span>
        <span class="tr nice">
          current offset<br/>
          <b>Europe/Paris</b><br/>
          (with DST)
        </span>
      </div>
      <div class="codemirror" id="doc"></div>
    </div>
    <div class="nice explain" style="margin-top:25px; margin-left:25px;">
      that's not too bad.
    </div>
    <div class="nice explain" style="margin-left:10%;">
      <p>
        but hold up -
      </p>
      <div class="codemirror" id="docBad"></div>
       <div class="nice explain" style="margin-top:25px;">
         to change the date, you have to shift to your computer's offset, make the calendar-based change, then shift it back to Paris time,
         in some kind of distopian web programming:
      </div>
      <div class="codemirror" id="docThree"></div>
      <div class="nice explain" style="margin-top:25px;">
        this is error-prone!<br/>
        <p></p>
        one challenge is that <b>different DST rules</b> may apply on your computer, compared to Paris-time.<br/>
         <div style="margin-left:20px;">- you may miss a DST-shift while pretending to be in Paris, but lying about it.</div>
      </div>
      <div class="nice explain">
        another possibility is making a very specific time locally, that doesn't exist in Paris-time.
      </div>
      <div class="nice explain">
        <b>spacetime</b>   <span style="color:indianred">🎉</span>
        (mostly) addresses these problems in post-processing the date after every transformation,
         to ensure the funny-business is a minimum.<br/>
        <p></p>
        if it's <b>9:37pm</b>, and you move forward 6 months, it should still be <b>9:37pm</b>.<br/>
        <div style="margin-left:20px;">
          - even the day of the month should remain stable too, when possible
        </div>
        <p></p>
        There is admittedly, some guesswork involved.
        <div style="margin-top:15px; margin-left:50px;">
          but what a pleasure, to let this <i>little library</i> do that for you
          <span style="color:indianred">🌈</span>
        </div>
        <p></p>
         not for <a class="link" href="https://github.com/smallwins/spacetime/wiki#limitations">every use-case</a>, fine for most. -
      </div>
    </div>

    <!-- docs/api -->
      <div class="nice big" style="margin:20px;">API:</div>
      <div style="width:80%; margin-left:15%; height:40px;position:relative;">
        <div v-if="doc.title">
          <b style="color:grey; font-size:25px;">{{doc.title}}():</b>
          <span style="color:grey; margin:10px;">{{doc.doc}}</span>
          <span style="color:steelblue; margin:10px; position:relative; right:0px; white-space: nowrap;">returns: <b>{{doc.out}}</b></span>
        </div>
      </div>
      <div class="table">
        <div class="tr">
          <div class="subheading"> main:</div>
          <div style="text-align:left; margin-left:30%;">
            <div class="method" v-for="k in Object.keys(docs.main)" v-on:click="doc=docs.main[k]; doc.title=k">
              {{k}}()
            </div>
          </div>
        </div>
        <div class="tr">
          <div class="subheading">getters/setters</div>
          <div style="text-align:left; margin-left:30%;">
            <div class="method" v-for="k in Object.keys(docs.getters)" v-on:click="doc=docs.getters[k]; doc.title=k">
              {{k}}()
            </div>
          </div>
        </div>
        <div class="tr">
          <div class="subheading"> utils:</div>
          <div style="text-align:left; margin-left:30%;">
            <div class="method" v-for="k in Object.keys(docs.utils)" v-on:click="doc=docs.utils[k]; doc.title=k">
              {{k}}()
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <p></p>
  <p></p>
  <p></p>
    <div class="nice">
        Apache-2.0<br/> - by <a class="link" href="https://begin.com/">SmallWins</a>
    </div>
</body>
<script src="https://unpkg.com/spacetime"></script>
<script src="lib/codemirror.js"></script>
<script src="lib/javascript-mode.js"></script>
<script src="lib/html-mode.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="./codemirror.js"></script>
<script src="./day/index.js"></script>
<script src="./explain.js"></script>
