<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link href="./index.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link rel="stylesheet" href="lib/codemirror.css">
  <link rel="stylesheet" href="lib/mytheme.css">
</head>
<body>
  <a class="topright" href="https://github.com/smallwins/spacetime">
    github
  </a>
  <div class="nice big">
    Yeah, 🙌
  </div>
  <div class="nice" v-cloak>
    the world's really big
  </div>
  <div id="map">
  </div>
  <div class="nice">
    but this library, it's really small ✨
  </div>
  <div id="today" style="text-align:center;" v-cloak>

    <div id="leftBox" style="display:inline-block; width:150px; font-size:15px; text-align:left;" class="nice">
      <div>
        {{s.format('day')}}
      </div>
      {{s.format('month')+' '+s.format('date-ordinal')}}
      <div>
        {{s.year()}}
      </div>
    </div>

    <div id="graph" class="nice" style="postion:relative; text-align:left; display:inline-block; height:90px; margin-top:60px; width:600px;">
      <div id="nowThing"  v-bind:style="{ left:(scale(s.progress().day)-100)+'px' }" style="position:relative; display:inline-block; font-size:22px; text-align:center; max-width:200px; min-width:200px;">
        {{s.timezone().name}}
        <div>
          {{s.time()}}
        </div>
        <div>
        	▼
        </div>
      </div>
      <div id="dayline" style="position:relative; height:3px;">
        <div style="position:absolute; width:25%; left:0%; top:0px; height:3px; background-color:#4682b4;"></div>
        <div style="position:absolute; width:63%; left:25%; top:0px; height:3px; background-color:#dbb2c1;"></div>
        <div style="position:absolute; width:12%; left:88%; top:0px; height:3px; background-color:#4682b4;" ></div>
      </div>
      <div style="position:relative; width:100%; height:2px; background-color:#af6161;"></div>
      <div style="position:relative; height:15px; font-size:9px; text-align:left;">
        <div style="position:absolute; left:23%;">6am</div>
        <div style="position:absolute; left:48%;">noon</div>
        <div style="position:absolute; left:73%;">6pm</div>
        <div style="position:absolute; left:86%;">10pm</div>
      </div>
      <span id="yearline" style="position:relative; height:3px;"  v-for="m,i in months">
        <span v-bind:style="{backgroundColor:m, left:50*i+'px'}" style="position:absolute; width:50px; top:0px; height:3px; "></span>
      </span>
     </div>

     <div id="rightBox" style="display:inline-block;">
       <span style="margin-left:30px;">DST: {{s.inDST() ? 'on' : 'off'}}</span>
       <span style="margin-left:30px;">leapYear: {{s.leapYear() ? 'yes' : 'no'}}</span>
     </div>

    <div class="table" >

      <span class="tr nice control" v-for="c in controls">
        <span class="minus">﹣</span>
        {{s.hour12() + s.ampm()}}
        <span class="plus">+</span>
        <br/>
        <div style="position:relative; top:-5px; color:silver; display:inline; padding-left:25px; padding-right:25px; border-bottom:1px solid silver;">
          {{c.title}}
        </div>
      </span>

    </div>
  </div>


  <div class="nice big middle">
    — <b>spacetime</b> date-utility —
    <div class="table">
      <span class="list tr">
        <div>
          <b class="boom">💥</b> - local model of remote TZ
        </div>
        <div>
          <b class="boom">💥</b> - DST, leap-year, hemisphere!
        </div>
        <div>
          <b class="boom">💥</b> -
          moment-like<span style="color:pink;">💙</span> API
        </div>
        <div>
          <b class="boom">💥</b> - quarter, season, and week-orientation
        </div>
      </span>
      <span class="tr nice">
        <div style="color:#8cc5df; margin-top:20px;">
          <span class="number">33</span>
          <span class="">kb</span>
        </div>
        <div style="font-size:18px;">that's more like it</div>
      </span>
    </div>
  </div>
  <div class="nice big middle">
    <span class="epoch">npm install spacetime</span>
      <div style="font-size:18px;">or</div>
    <span class="epoch">&lt;script src='https://unpkg.com/spacetime'&gt;&lt;/script&gt;</span>
  </div>
  <div class="nice big middle">
    <span style="color:#dbb2c1;">👹</span> spacetime does some ugly things.
  </div>
  <div class="nice big middle">
    it can sometimes get confused. <span style="color:#8cc5df;">🌌</span>
  </div>
  <div class="nice byline">
    but by making <a class="link" href="https://github.com/smallwins/spacetime/wiki#limitations">realistic compromises</a> spacetime considerably under-weighs most date libraries.<br/>
    It lets you have a <i>mostly-great</i> time, without thinking about awful things.
  </div>
  <div class="codemirror" id="html"></div>
  <div class="codemirror" id="node"></div>

  <div id="explain" v-cloak>
    <div class="nice big" style="margin:20px;">how the?</div>
    <div style="margin-left:10%;">
       <div class="nice explain">
        it is currently <span class="epoch">{{epoch}}</span> everywhere (even in Australia).
      </div>
      <div class="table">
        <span class="tr nice">
          Epoch time<br/>
          (<b>{{epoch}}</b>)
        </span>
        <span class="tr nice math">
          <b>﹣</b>
        </span>
        <span class="tr nice">
          you computer's offset<br/>
          (<b>{{offset}}</b> mins)
        </span>
        <span class="tr nice math">
          <b>+</b>
        </span>
        <span class="tr nice">
          current offset of<br/>
          <b>Europe/Paris</b><br/>
          (with DST)
        </span>
        <span class="tr nice math">
          <b>=</b>
        </span>
        <span class="tr nice">
          <b>[Fake-Paris]</b><br/>
          time
        </span>
      </div>
      <div class="codemirror" id="doc"></div>
    </div>
       <div class="nice explain" style="margin-top:25px; margin-left:25px;">
        that's not too bad.
      </div>
    <div class="nice explain" style="margin-left:10%;">
      <p>
        but hold up -
      </p>
      <div class="codemirror" id="docBad"></div>
       <div class="nice explain" style="margin-top:25px;">
         to change the date, you have to shift to your computer's offset, make the calendar-based change, then shift it back to Paris time,
         in some kind of distopian web programming:
      </div>
      <div class="codemirror" id="docThree"></div>
      <div class="nice explain" style="margin-top:25px;">
        this is error-prone!<br/>
        <p></p>
        one challenge is that <b>different DST rules</b> may apply on your computer, compared to Paris-time.<br/>
         <div style="margin-left:20px;">- you may miss a DST-shift while pretending to be in Paris, but lying about it.</div>
      </div>
      <div class="nice explain">
        another possibility is making a very specific time locally, that doesn't exist in Paris-time.
      </div>
      <div class="nice explain">
        <b>spacetime</b>   <span style="color:indianred">🎉</span>
        (mostly) addresses these problems in post-processing the date after every transformation,
         to ensure the funny-business is a minimum.<br/>
        <p></p>
        if it's <b>9:37pm</b>, and you move forward 6 months, it should still be <b>9:37pm</b>.<br/>
        <div style="margin-left:20px;">
          - even the day of the month should remain stable too, when possible
        </div>
        <p></p>
        There is admittedly, some guesswork involved.
        <div style="margin-top:15px; margin-left:50px;">
          but what a pleasure, to let this <i>little library</i> do that for you
          <span style="color:indianred">🌈</span>
        </div>
        <p></p>
         not for <a class="link" href="https://github.com/smallwins/spacetime/wiki#limitations">every use-case</a>, fine for most. -
      </div>
    </div>


  </div>
  <p></p>
  <p></p>
  <p></p>
    <div class="nice">
        Apache-2.0<br/> - by <a class="link" href="https://begin.com/">SmallWins</a>
    </div>
</body>
<script src="./lib/spacetime.min.js"></script>
<script src="lib/codemirror.js"></script>
<script src="lib/javascript-mode.js"></script>
<script src="lib/html-mode.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="./codemirror.js"></script>
<script src="./map.js"></script>
<script src="./day/index.js"></script>
<script src="./explain.js"></script>
